tmp/sessions
tmp/cache
tmp/sockets
tmp/*
log/*
lifeline.tmproj
*.*~
db/.fuse*
db/development.sqlite3
db/test.sqlite3
Thumbs.db
*.bak
installers/*
.project
vendor/rails/*
.idea
*.pid
db/schema.rb
config/deploy/private
