
<fieldset> 

  <table class='form_fields'>
    <tr>
      <td><label>Name</label></td>
      <td><%= form.text_field :name, :size => 60 %></td>
    </tr>
    <tr>
      <td><label>Short Name</label></td>
      <td><%= form.text_field :short_name, :size => 10 %></td>
    </tr>

  </table>
  
</fieldset>

