<div class="banner">
	<div class="banner_logo">
		  <%= link_to image_tag("/images/logo2.png"), :controller => "public", :action => "index" %>
	</div>
	<div class="banner_text">
		  <%= link_to "Cell Phone Paging System", :controller => "public", :action => "index" %>
	</div>
</div>  
  