<div class="footer">    
By using this site, you are agreeing to these <%= link_to "terms and conditions", "/legal.html", :popup => true %>.
<span style="float:right; font-size:x-small">(Version <%=h APP_VERSION %>)</span>
</div>
<!-- footer -->