
<fieldset> 

  <table class='form_fields'>
    <tr>
      <td><label>Address</label></td>
      <td><%= form.text_field :address, :size => 15 %></td>
      <td> <span class='hint'>format: 64.23.4.122 or 12.5.33.* </span> </td>
    </tr>
  </table>
  
</fieldset>

